# Dependency directories
node_modules/
node_modules/*
jspm_packages/

# next.js build output
.next

# IDE Files
.idea
.idea/
.idea/*
.idea/*/*.*
.idea/.gitignore
.idea/Godar-UI.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vs
.vscode
.vs/*
.vscode/*